<div class="container-fluid">
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <p>View Past Cases</p>
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">Date</th>
                  <th class="cell100 column2">Time</th>
                  <th class="cell100 column3">Name</th>
                  <th class="cell100 column4"></th>
                  <!-- <th class="cell100 column5">Spots</th> -->
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                <tr class="row100 body">
                  <td class="cell100 column1">12/3/2019</td>
                  <td class="cell100 column2">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column3">Shushant Kumar</td>
                  <td class="cell100 column4"><button style="height: 35px;width: 190px"type="button" class="btn btn-success">View Report</button></td>
                  <!-- <td class="cell100 column5">10</td> -->
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">13/4/2018</td>
                  <td class="cell100 column2">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column3">Edwin Thomas</td>
                  <td class="cell100 column4"><button style="height: 35px;width: 190px"type="button" class="btn btn-success">View Report</button></td>
                  <!-- <td class="cell100 column5">15</td> -->
                </tr>

                
              </tbody>
            </table>
          </div>
        </div>
        
 

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <p>Today's Appointments</p>
          <div class="table100 ver1 m-b-110">
            <div class="table100-head">
              <table>
                <thead>
                  <tr class="row100 head">
                    <th class="cell100 column1">Date</th>
                    <th class="cell100 column2">Name</th>
                    <th class="cell100 column3">Token Number</th>
                    <th class="cell100 column4">Approximate Time Of Visit</th>
                    <!-- <th class="cell100 column5">Spots</th> -->
                  </tr>
                </thead>
              </table>
            </div>

            <div class="table100-body js-pscroll">
              <table>
                <tbody>
                  <tr class="row100 body">
                    <td class="cell100 column1">12/3/2019</td>
                    <td class="cell100 column2">Shushant Kumar</td>
                    <td class="cell100 column3">12</td>
                    <td class="cell100 column4">
                        <form action="#">
                          <div class="form-group">
                              <label for="time" class="sr-only">First Name</label>
                              <input type="email" class="form-control" id="time" value="12:00 AM">
                          </div>
                          <span>
                            <br>
                            <button style="height: 35px;width: 130px;margin: 0px 0px 0px 10px" type="submit" class="btn btn-danger">Change Time</button>
                            <button style="height: 35px;width: 130px" type="submit" class="btn btn-success" (click)="openReportForm()">Report</button>

                          </span>
                          
                        </form>
                    </td>
                    <!-- <td class="cell100 column5">10</td> -->
                  </tr>

                  <tr class="row100 body">
                    <td class="cell100 column1">13/4/2018</td>
                    <td class="cell100 column2">Edwin Thomas</td>
                    <td class="cell100 column3">14</td>
                    <td class="cell100 column4">
                        <form action="#">
                            <div class="form-group">
                                <label for="time" class="sr-only">First Name</label>
                                <input type="email" class="form-control" id="time" value="10:00 AM">
                            </div>
                            <span>
                              <br>
                              <button style="height: 35px;width: 130px;margin: 0px 0px 0px 10px" type="submit" class="btn btn-danger">Change Time</button>
                              <button style="height: 35px;width: 130px" type="submit" class="btn btn-success" (click)="openReportForm()">Report</button>
                            </span>
                            
                          </form>
                    </td>
                    <!-- <td class="cell100 column5">15</td> -->
                  </tr>

                  
                </tbody>
              </table>
            </div>
          </div>
          
        

        </div>
      </div>
    </div>
</div>



