<nav class="navbar" style="height: 10vh;">
  <span>
    <img src="../../assets/images/parallax.JPG" width="60px" height="60px" style="border-radius:10px;" alt=""/>
    <b style="font-size: 35px;padding-left:15px;vertical-align: middle" >Parallax</b>
  </span>
  <a class="navbar-brand" style="float:left;margin-bottom: 0px">
    <span style="margin-right:10px" >
      <b style="font-size: 20px;padding-left:15px;vertical-align: middle" ><a href="doctor/current" style="color:black">Today's Appointment</a></b>
    </span>
    <span style="border-bottom: 7px solid #DE6262;padding: 20px 20px 14px 0px;background-color: #DCDCDC">
      <b style="font-size: 20px;padding-left:15px;vertical-align: middle" ><a href="doctor/past" style="color:black">Past Appointments</a></b>
    </span>
    <span style="margin-right:20px">
        <b style="font-size: 30px;padding-left:15px;vertical-align: middle" ><a href="parallax" (click)="logout()"><i class="fas fa-power-off"></i></a></b>
    </span>
  </a>                                   
</nav>
<div class="login-block" style="margin-top:-20px">
    <div class="container">
<div class="container-fluid">
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <p>View Past Cases</p>
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1">Date</th>
                  <th class="cell100 column2">Time</th>
                  <th class="cell100 column3">Name</th>
                  <th class="cell100 column4"></th>
                  <!-- <th class="cell100 column5">Spots</th> -->
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                <tr class="row100 body">
                  <td class="cell100 column1">12/3/2019</td>
                  <td class="cell100 column2">9:00 AM - 11:00 AM</td>
                  <td class="cell100 column3">Shushant Kumar</td>
                  <td class="cell100 column4"><button style="height: 35px;width: 190px"type="button" class="btn btn-success">View Report</button></td>
                  <!-- <td class="cell100 column5">10</td> -->
                </tr>

                <tr class="row100 body">
                  <td class="cell100 column1">13/4/2018</td>
                  <td class="cell100 column2">8:00 AM - 9:00 AM</td>
                  <td class="cell100 column3">Edwin Thomas</td>
                  <td class="cell100 column4"><button style="height: 35px;width: 190px"type="button" class="btn btn-success">View Report</button></td>
                  <!-- <td class="cell100 column5">15</td> -->
                </tr>

                
              </tbody>
            </table>
          </div>
        </div>
        
 

      </div>
    </div>
  </div>
</div>
</div>
</div>