<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Profile Details</h4>
                        <p class="card-category">User Information</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="NITK" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Username" value="{{userdetails.emailID}}" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email address" type="email" value="{{userdetails.emailID}}" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" type="text"  value="{{userdetails.name}}" disabled>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text"  value="{{userdetails.name}}" disabled>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address" type="text"  value="{{userdetails.address}}" disabled>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Mangalore" type="text" disabled>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="India" type="text" disabled>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Mobile No" type="text"   value="{{userdetails.mobileNo}}" disabled>
                                  </mat-form-field>
                                </div>
                            </div>

                            <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="https://shushantkumar.github.io/images/sk2.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">BTech 3rd year</h6>
                        <h4 class="card-title">Shushant Kumar</h4>
                        <p class="card-description">
                            16CO143
                        </p>
  
                        <a href="" class="btn btn-danger btn-round">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-tab-group style="background-color:#ffffe6;padding:10px">
                        <mat-tab label="View Health Statistics" style="background-color:blue">
                            <h3>General Health Statistics</h3>
                            <div class="row">
                                    
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-danger card-header-icon">
                                                    <div class="card-icon">
                                                        <!-- <i class="material-icons">store</i> -->
                                                        <i class="fas fa-heartbeat"></i>
                                                    </div>
                                                    <p class="card-category">BP</p>
                                                    <h3 class="card-title">120/80
                                                        <small>mmHg</small>
                                                    </h3>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                            <i class="fas fa-info-circle">  Normal Blood Pressure(120/80)</i>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <!-- <i class="material-icons">store</i> -->
                                                    <i class="fas fa-weight"></i>
                                                </div>
                                                <p class="card-category">Weight</p>
                                                <h3 class="card-title">75<br>
                                                    <small>Kg</small>
                                                </h3>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                        <i class="fas fa-info-circle">  Last 24 Hours</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-warning card-header-icon">
                                                <div class="card-icon">
                                                    <!-- <i class="material-icons">info_outline</i> -->
                                                    <i class="fas fa-dumbbell"></i>
                                                </div>
                                                <p class="card-category">BMI</p>
                                                <h3 class="card-title">19<br>
                                                        <small>kg/m<sup>2</sup></small>
                                                    </h3>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                        <i class="fas fa-info-circle">  Ideal BMI(20)</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-info card-header-icon">
                                                <div class="card-icon">
                                                    <!-- <i class="fa fa-twitter"></i> -->
                                                    <i class="fas fa-file-medical-alt"></i>
                                                </div>
                                                <p class="card-category">Pulse Rate</p>
                                                <h3 class="card-title">55<br>
                                                        <small>per min</small>
                                                </h3>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="fas fa-info-circle">  Normal Pulse Rate(70-80/min)</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                  <div class="card-header card-header-danger">
                                                      <h4 class="card-title "><i class="fas fa-notes-medical"></i><b style="padding-left:10px">Request Pending</b></h4>
                                                      <p class="card-category"> View pending requests </p> 
                                                  </div>
                                                  <div class="card-body">
                                                    <div class="table-responsive">
                                                        <div class="col-12">
                                                            <table class="table table-striped">
                                                                    <thead class="white-text" style="background-color:rgb(220, 58, 58);color:white">
                                                                            <th>Doctor Name</th>
                                                                            <th>Time of Request</th>
                                                                    </thead>
                                                                    <tbody>
                                                                            <tr *ngFor="let meta of allbooked">
                                                                                    <td *ngIf="meta.flag">{{meta.doctor.name}}</td>
                                                                                    <td *ngIf="meta.flag">{{meta.date | date:'medium'}}</td>
                                                                                </tr>
                                                                    </tbody>
                                                                    
                                                            </table>
                                                                
                                                        </div>
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    <div class="col-md-6">
                                            <div class="card">
                                                    <div class="card-header card-header-danger">
                                                        <h4 class="card-title "><i class="fas fa-notes-medical"></i><b style="padding-left:10px">Appointments</b></h4>
                                                        <p class="card-category"> View scheduled Appointments </p> 
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <div class="col-12">
                                                                <table class="table table-striped">
                    
                                                                        <thead class="white-text" style="background-color:rgb(220, 58, 58);color:white">
                                                                                <th>Doctor Name</th>
                                                                                <th>Token Number</th>
                                                                                <th>Time</th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let meta of allbooked">
                                                                                    <td *ngIf="!(meta.flag)">{{meta.doctor.name}}</td>
                                                                                    <td *ngIf="!(meta.flag)">{{meta.token}}</td>
                                                                                    <td *ngIf="!(meta.flag)">{{meta.date | date:'medium'}}</td>
                                                                                    
                                                                                </tr>
                                                                        </tbody>
                                                                        
                                                                </table>
                                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                            
                                    </div>


                            </div>
                        </mat-tab>
                        <mat-tab label="View Currently booked courts">
                            <h3>View Currently booked courts</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title "><i class="fas fa-bowling-ball"></i><b style="padding-left:10px">Table Tennis</b></h4>
                                              <p class="card-category"> View current bookings </p> 
                                          </div>
                                          <div class="card-body">
                                            <div class="table-responsive">
                                                <div class="col-12">
                                                    <table class="table table-striped">
                                                            <thead class="white-text" style="background-color:rgb(220, 58, 58);color:white">
                                                                    <th>Slot Number</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                            </thead>
                                                            <tbody>
                                                                    <tr *ngFor="let meta of TableTennis">
                                                                        <td>{{meta.timeslot}}</td>
                                                                        <td>{{meta.courtBooked}}/3</td>
                                                                        <td>{{meta.created}}</td>
                                                                    </tr>
                                                            </tbody>
                                                            
                                                    </table>
                                                        
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title "><i class="fas fa-bowling-ball"></i><b style="padding-left:10px">Badminton</b></h4>
                                              <p class="card-category"> View current bookings </p> 
                                          </div>
                                          <div class="card-body">
                                            <div class="table-responsive">
                                                <div class="col-12">
                                                    <table class="table table-striped">
                                                            <thead class="white-text" style="background-color:rgb(220, 58, 58);color:white">
                                                                    <th>Slot Number</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                            </thead>
                                                            <tbody>
                                                                    <tr *ngFor="let meta of Badminton">
                                                                        <td>{{meta.timeslot}}</td>
                                                                        <td>{{meta.courtBooked}}/6</td>
                                                                        <td>{{meta.created}}</td>
                                                                    </tr>
                                                            </tbody>
                                                            
                                                    </table>
                                                        
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title "><i class="fas fa-bowling-ball"></i><b style="padding-left:10px">Lawn Tennis</b></h4>
                                              <p class="card-category"> View current bookings </p> 
                                          </div>
                                          <div class="card-body">
                                            <div class="table-responsive">
                                                <div class="col-12">
                                                    <table class="table table-striped">
                                                            <thead class="white-text" style="background-color:rgb(220, 58, 58);color:white">
                                                                    <th>Slot Number</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                            </thead>
                                                            <tbody>
                                                                    <tr *ngFor="let meta of LawnTennis">
                                                                        <td>{{meta.timeslot}}</td>
                                                                        <td>{{meta.courtBooked}}/3</td>
                                                                        <td>{{meta.created}}</td>
                                                                    </tr>
                                                            </tbody>
                                                            
                                                    </table>
                                                        
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title "><i class="fas fa-bowling-ball"></i><b style="padding-left:10px">Volley Ball</b></h4>
                                              <p class="card-category"> View current bookings </p> 
                                          </div>
                                          <div class="card-body">
                                            <div class="table-responsive">
                                                <div class="col-12">
                                                    <table class="table table-striped">
                                                            <thead class="white-text" style="background-color:rgb(220, 58, 58);color:white">
                                                                    <th>Slot Number</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                            </thead>
                                                            <tbody>
                                                                    <tr *ngFor="let meta of VolleyBall">
                                                                        <td>{{meta.timeslot}}</td>
                                                                        <td>{{meta.courtBooked}}/2</td>
                                                                        <td>{{meta.created}}</td>
                                                                    </tr>
                                                            </tbody>
                                                            
                                                    </table>
                                                        
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>


                            </div>
                        </mat-tab>
                </mat-tab-group>
            </div>
            
        </div>
    </div>
  </div>
