<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">BP</p>
                        <h3 class="card-title">120/80
                            <small>mmHg</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="#pablo">Normal Blood Pressure(120/80)</a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <!-- <i class="material-icons">store</i> -->
                                <i class="fas fa-heartbeat"></i>
                            </div>
                            <p class="card-category">BP</p>
                            <h3 class="card-title">120/80
                                <small>mmHg</small>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                    <i class="fas fa-info-circle">  Normal Blood Pressure(120/80)</i>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">store</i> -->
                            <i class="fas fa-weight"></i>
                        </div>
                        <p class="card-category">Weight</p>
                        <h3 class="card-title">75<br>
                            <small>Kg</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                                <i class="fas fa-info-circle">  Last 24 Hours</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">info_outline</i> -->
                            <i class="fas fa-dumbbell"></i>
                        </div>
                        <p class="card-category">BMI</p>
                        <h3 class="card-title">19<br>
                                <small>kg/m<sup>2</sup></small>
                            </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                                <i class="fas fa-info-circle">  Ideal BMI(20)</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="fa fa-twitter"></i> -->
                            <i class="fas fa-file-medical-alt"></i>
                        </div>
                        <p class="card-category">Pulse Rate</p>
                        <h3 class="card-title">55<br>
                                <small>per min</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fas fa-info-circle">  Normal Pulse Rate(70-80/min)</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                      <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title "><i class="fas fa-notes-medical"></i><b style="padding-left:10px">Medical Report</b></h4>
                                <p class="card-category"> View previous diagnostic reports </p> 
                            </div>
                            <div class="card-body">
                              <div class="table-responsive">
                                  <div class="col-12">
                                        <div id="accordian" *ngFor="let meta of allHistory">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="peterhead">
                                                    <a class="mb-0 collapsed" data-toggle="collapse" [attr.data-target]="'#' + meta._id">
                                                        <span><b style="font-size:18px;"><i class="far fa-calendar-alt" style="padding-right:10px"></i>{{meta.date|date:'medium'}}</b> <small style="font-size:22px;padding-left:30px;"><i class="fas fa-user-md" style="padding-right:10px;color:black"></i>Dr. {{meta.doctor.name}}</small><b style="float:right;font-size:20px"><i class="fas fa-caret-down"></i></b></span>
                                                    </a>
                                                </div>
                        
                                                <div class="collapse" id="{{meta._id}}" data-parent="#accordian">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            
                                                            <div class="col-lg-3">
                                                                <h3>
                                                                    Diagnosis
                                                                </h3>
                                                            </div>
                                                                
                                                            <div class="col-lg-6">
                                                                 <p class="d-none d-sm-block">{{meta.diagnosis}}</p>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            
                                                                <div class="col-lg-3">
                                                                    <h3>
                                                                        Prescription
                                                                    </h3>
                                                                </div>
                                                                    
                                                                <div class="col-lg-6">
                                                                     <p class="d-none d-sm-block">{{meta.comment}}</p>
                                                                     
                                                                    <div class="container-fluid" *ngFor="let cod of meta.medicine">
                                                                        <hr>
                                                                        <p><b>medicineName:</b> {{cod.medicineName}}</p>
                                                                        <p><b>duration:</b> {{cod.duration}}</p>
                                                                        <p><b>dosage:</b> {{cod.dosage}}</p>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                              </div>
                            </div>
                      </div>
            </div>
        </div>

        <div class="row">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Weight</h4>
                            <p class="card-category">
                                <span class="text-success"></span>Ideal Weight for BMI 20 is 75kg</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Body Mass Index</h4>
                            <p class="card-category">Ideal Body Mass Index is 20</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
                
                
    
        </div>

        <div class="row">
                <div class="col-md-6">
                        <div class="card card-chart">
                            <div class="card-header card-header-danger">
                                <div class="ct-chart" id="completedTasksChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Blood Pressure</h4>
                                <p class="card-category">Normal Blood Pressure(120/80)</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 2 days ago
                                </div>
                            </div>
                        </div>
                </div>

                <div class="col-md-6">
                        <div class="card card-chart">
                            <div class="card-header card-header-info">
                                <div class="ct-chart" id="websiteViewsChart1"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Pulse Rate</h4>
                                <p class="card-category">Normal Pulse Rate(70-80/min)</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated 2 days ago
                                </div>
                            </div>
                        </div>
                </div>
                    
        </div>
        <br>
        <br>

    </div>    
    <div class="container-fluid">
            <div class="row">
                    <button [routerLink]="['/booking']">Book a session with the Doctor</button>
                </div>
        
                <div class="row">
                    <button [routerLink]="['/chatbot']">Pre-Diagnosis Chat Bot</button>
                </div>
    </div>
</div>


<div class="main-contend">

        <div class="row">
                <div class="col-md-6">
                        <div class="card">
                              <div class="card-header card-header-danger">
                                  <h4 class="card-title "><i class="fas fa-notes-medical"></i><b style="padding-left:10px">Request Pending</b></h4>
                                  <p class="card-category"> View pending requests </p> 
                              </div>
                              <div class="card-body">
                                <div class="table-responsive">
                                    <div class="col-12">
                                        <table>
                                                <tr>
                                                        <th>Doctor Name</th>
                                                        <th>Time of Request</th>
                                                </tr>
                                                <tr *ngFor="let meta of allbooked">
                                                    <td *ngIf="meta.flag">{{meta.doctor.name}}</td>
                                                    <td *ngIf="meta.flag">{{meta.date | date:'medium'}}</td>
                                                </tr>
                                        </table>
                                            
                                    </div>
                              </div>
                        </div>
                </div>
                </div>
                <div class="col-md-6">
                        <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title "><i class="fas fa-notes-medical"></i><b style="padding-left:10px">Appointments for Today</b></h4>
                                    <p class="card-category"> View scheduled Appointments </p> 
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="col-12">
                                            <table>
                                                    <tr>
                                                            <th>Doctor Name</th>
                                                            <th>Token Number</th>
                                                            <th>Time</th>
                                                    </tr>
                                                    <tr *ngFor="let meta of allbooked">
                                                        <td *ngIf="!(meta.flag)">{{meta.doctor.name}}</td>
                                                        <td *ngIf="!(meta.flag)">{{meta.token}}</td>
                                                        <td *ngIf="!(meta.flag)">{{meta.date | date:'medium'}}</td>
                                                        
                                                    </tr>
                                            </table>
                                          
                                        </div>
                                    </div>
                                </div>
                        </div>
        
                </div>
                
        </div>

</div>


