<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <!-- <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <p class="card-category">BP</p>
                    <h3 class="card-title">120/80
                        <small>mmHg</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="#pablo">Normal Blood Pressure(120/80)</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <!-- <i class="material-icons">store</i> -->
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <p class="card-category">BP</p>
                        <h3 class="card-title">120/80
                            <small>mmHg</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                                <i class="fas fa-info-circle">  Normal Blood Pressure(120/80)</i>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">store</i> -->
                        <i class="fas fa-weight"></i>
                    </div>
                    <p class="card-category">Weight</p>
                    <h3 class="card-title">75<br>
                        <small>Kg</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                            <i class="fas fa-info-circle">  Last 24 Hours</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">info_outline</i> -->
                        <i class="fas fa-dumbbell"></i>
                    </div>
                    <p class="card-category">BMI</p>
                    <h3 class="card-title">19<br>
                            <small>kg/m<sup>2</sup></small>
                        </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                            <i class="fas fa-info-circle">  Ideal BMI(20)</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="fa fa-twitter"></i> -->
                        <i class="fas fa-file-medical-alt"></i>
                    </div>
                    <p class="card-category">Pulse Rate</p>
                    <h3 class="card-title">55<br>
                            <small>per min</small>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="fas fa-info-circle">  Normal Pulse Rate(70-80/min)</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                      <div class="card">
                          <div class="card-header card-header-danger">
                                <h4 class="card-title "><i class="fas fa-notes-medical"></i><b style="padding-left:10px">Medical Report</b></h4>
                                <p class="card-category"> View previous diagnostic reports </p> 
                          </div>
                          <div class="card-body">
                              <div class="table-responsive">
                                  <!-- <table class="table">
                                      <thead class=" text-primary">
                                          <th>
                                              ID
                                          </th>
                                          <th>
                                              Name
                                          </th>
                                          <th>
                                              Country
                                          </th>
                                          <th>
                                              City
                                          </th>
                                          <th>
                                              Salary
                                          </th>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>
                                                  1
                                              </td>
                                              <td>
                                                  Dakota Rice
                                              </td>
                                              <td>
                                                  Niger
                                              </td>
                                              <td>
                                                  Oud-Turnhout
                                              </td>
                                              <td class="text-primary">
                                                  $36,738
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  2
                                              </td>
                                              <td>
                                                  Minerva Hooper
                                              </td>
                                              <td>
                                                  Curaçao
                                              </td>
                                              <td>
                                                  Sinaai-Waas
                                              </td>
                                              <td class="text-primary">
                                                  $23,789
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  3
                                              </td>
                                              <td>
                                                  Sage Rodriguez
                                              </td>
                                              <td>
                                                  Netherlands
                                              </td>
                                              <td>
                                                  Baileux
                                              </td>
                                              <td class="text-primary">
                                                  $56,142
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  4
                                              </td>
                                              <td>
                                                  Philip Chaney
                                              </td>
                                              <td>
                                                  Korea, South
                                              </td>
                                              <td>
                                                  Overland Park
                                              </td>
                                              <td class="text-primary">
                                                  $38,735
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  5
                                              </td>
                                              <td>
                                                  Doris Greene
                                              </td>
                                              <td>
                                                  Malawi
                                              </td>
                                              <td>
                                                  Feldkirchen in Kärnten
                                              </td>
                                              <td class="text-primary">
                                                  $63,542
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  6
                                              </td>
                                              <td>
                                                  Mason Porter
                                              </td>
                                              <td>
                                                  Chile
                                              </td>
                                              <td>
                                                  Gloucester
                                              </td>
                                              <td class="text-primary">
                                                  $78,615
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table> -->
                                  <div class="col-12">
                                        <div id="accordian">
                                            <div class="card">
                                                <div class="card-header" role="tab" id="peterhead">
                                                    <a class="mb-0 collapsed" data-toggle="collapse" data-target="#peter1">
                                                        <span><b style="font-size:18px;"><i class="far fa-calendar-alt" style="padding-right:10px"></i>12-12-2018</b> <small style="font-size:22px;padding-left:30px;"><i class="fas fa-user-md" style="padding-right:10px;color:black"></i>Dr Anmol Taikomuchi</small><b style="float:right;font-size:20px"><i class="fas fa-caret-down"></i></b></span>
                                                    </a>
                                                </div>
                        
                                                <div class="collapse" id="peter1" data-parent="#accordian">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            
                                                            <div class="col-lg-3">
                                                                <h3>
                                                                    Diagnosis
                                                                </h3>
                                                            </div>
                                                                
                                                            <div class="col-lg-6">
                                                                 <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            
                                                                <div class="col-lg-3">
                                                                    <h3>
                                                                        Precription
                                                                    </h3>
                                                                </div>
                                                                    
                                                                <div class="col-lg-6">
                                                                     <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
                                                                    
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                            
                                            <div class="card">
                                                    <div class="card-header" role="tab" id="peterhead">
                                                        <a class="mb-0 collapsed" data-toggle="collapse" data-target="#peter2">
                                                            <span><b style="font-size:18px;"><i class="far fa-calendar-alt" style="padding-right:10px"></i>12-12-2018</b> <small style="font-size:22px;padding-left:30px;"><i class="fas fa-user-md" style="padding-right:10px;color:black"></i>Dr Anmol Taikomuchi</small><b style="float:right;font-size:20px"><i class="fas fa-caret-down"></i></b></span>
                                                        </a>
                                                    </div>
                            
                                                    <div class="collapse" id="peter2" data-parent="#accordian">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                
                                                                <div class="col-lg-3">
                                                                    <h3>
                                                                        Diagnosis
                                                                    </h3>
                                                                </div>
                                                                    
                                                                <div class="col-lg-6">
                                                                     <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
    
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                
                                                                    <div class="col-lg-3">
                                                                        <h3>
                                                                            Precription
                                                                        </h3>
                                                                    </div>
                                                                        
                                                                    <div class="col-lg-6">
                                                                         <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
                                                                        
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>                  
                        
                                            </div>
                                    </div>
                              </div>
                          </div>
                      </div>
            </div>
        </div>

        <div class="row">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Daily Sales</h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
      
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Email Subscriptions</h4>
                            <p class="card-category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
                
                
      
            </div>

            <div class="row">
                    <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header card-header-danger">
                                    <div class="ct-chart" id="completedTasksChart"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Completed Tasks</h4>
                                    <p class="card-category">Last Campaign Performance</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header card-header-warning">
                                    <div class="ct-chart" id="websiteViewsChart1"></div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Email Subscriptions</h4>
                                    <p class="card-category">Last Campaign Performance</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                    </div>
                       
            </div>

            <div class="row">
                <button [routerLink]="['/booking']">Book a session with the Doctor</button>
            </div>




            
            
           

</div>

