<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                    <h4 class="card-title "><i class="fas fa-user-md"></i><b style="padding-left:10px">Book an appointment</b></h4>
                                    <p class="card-category"> Doctors of NITK </p> 
                            </div>
                            <div class="card-body"> 
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 col-sm-6" *ngFor="let doctors of varAllDoctors.doctors">
                                                <div class="card">
                                                    <img class="card-img-top" src="http://www.chapelhillfamilydoctors.com.au/images/doctor-img2.png" alt="Card image cap" style="height: 40vh;width: 50%;display: block;margin-left: auto;margin-right: auto;padding:5px">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><b>{{doctors.name}}</b></h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{doctors.specialization}}</h6>
                                                        <p class="card-text">Where there is a brain there is a way.</p>
                                                        <a style="color:white" class="btn btn-primary" (click)="bookAppoint(doctors)"> Book an appointment</a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                </div>
                
        </div>
        <!-- add here -->
        <div class="row">
                <div class="col-md-12">
                          <div class="card">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title "><i class="fas fa-user-md"></i><b style="padding-left:10px">Doctors of NITK</b></h4>
                                    <p class="card-category"> View Doctor Details </p> 
                                </div>
                                <div class="card-body">
                                  <div class="table-responsive">
                                      <div class="col-12">
                                            <div id="accordian" *ngFor="let doctors of varAllDoctors.doctors">
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="peterhead">
                                                        <a class="mb-0 collapsed" data-toggle="collapse" [attr.data-target]="'#' + doctors._id">
                                                            <span><small style="font-size:22px;padding-left:30px;"><i class="fas fa-user-md" style="padding-right:10px;color:black"></i>Dr. {{doctors.name}}</small><b style="float:right;font-size:20px"><i class="fas fa-caret-down"></i></b></span>
                                                        </a>
                                                    </div>
                            
                                                    <div class="collapse" id="{{doctors._id}}" data-parent="#accordian">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                
                                                                <div class="col-lg-3">
                                                                    <h3>
                                                                        Specialization
                                                                    </h3>
                                                                </div>
                                                                    
                                                                <div class="col-lg-6">
                                                                     <p class="d-none d-sm-block">{{doctors.specialization}}</p>
    
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                
                                                                    <div class="col-lg-3">
                                                                        <h3>
                                                                            Details
                                                                        </h3>
                                                                    </div>
                                                                        
                                                                    <div class="col-lg-6">
                                                                         <p class="d-none d-sm-block">Very experienced and wise in making decisions. Served the HCC for 20 years and through expertise and dedication helped to lead a health lifestyle in NITK</p>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                  </div>
                                </div>
                          </div>
                </div>
            </div>


        
    </div>
    
</div>
