<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                                <h4 class="card-title "><i class="fas fa-user-md"></i><b style="padding-left:10px">Doctor Details at a Glance</b></h4>
                                <p class="card-category"> Doctors of NITK </p> 
                        </div>
                        <div class="card-body">
                                <div class="container">
        
                                        <div class="row row-content">
                                
                                            <!-- <div class="col-12">
                                                <h3>Doctors of NITK</h3>
                                            </div> 
                                -->
                                            <div class="col-12">
                                                <ul class="nav nav-tabs">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="#peter" role="tab" data-toggle="tab"><p style="color:black">Peter Pan ,Cardiologist</p></a>
                                                    </li>
                                
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#danny" role="tab" data-toggle="tab"><p>Danny Witherspoon, Neurologist</p></a>
                                                    </li>
                                
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#agumbe" role="tab" data-toggle="tab"><p>Agumbe Tang,Opthalmologist</p></a>
                                                    </li>
                                
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#alberto" role="tab" data-toggle="tab"><p>Alberto Somayya, ENT Specialist</p></a>
                                                    </li>
                                
                                
                                                </ul>
                                                <ul class="nav nav-tabs">
                                                        <li class="nav-item">
                                                        <a class="nav-link active" href="#">Active</a>
                                                        </li>
                                                        <li class="nav-item">
                                                        <a class="nav-link" href="#">Link</a>
                                                        </li>
                                                        <li class="nav-item">
                                                        <a class="nav-link" href="#">Link</a>
                                                        </li>
                                                        <li class="nav-item">
                                                        <a class="nav-link disabled" href="#">Disabled</a>
                                                        </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tab-panel" class="tab-pane fade show active" id="peter">
                                                        <h3>Peter Pan  <small>Cardiologist</small></h3>
                                                        <!--Note: The d-block is used to display the text as a block instead of inline and d-sm-block or d-*-block will
                                                            just make the display-block responsive
                                                            also the d-none means display none for extra small screens-->
                                                        <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
                                                    </div>
                                                    
                                                    <div role="tab-panel" class="tab-pane fade" id="danny">
                                                            <h3>Danny Witherspoon  <small>Neurologist</small></h3>
                                                            <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
                                                    </div>
                                                    
                                                    <div role="tab-panel" class="tab-pane fade" id="agumbe">
                                                            <h3>Agumbe Tang  <small>Opthalmologist</small></h3>
                                                            <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
                                                    </div>
                                                    
                                                    <div role="tab-panel" class="tab-pane fade" id="alberto">
                                                            <h3>Alberto Somayya  <small>ENT Specialist</small></h3>
                                                            <p class="d-none d-sm-block">At their highest levels, professional chefs may also be called head cooks because they manage the kitchens in which they work. They oversee subordinate cooks and kitchen staff, and prepare menu items themselves. Their days may regularly last 12 hours and can include early mornings, late evenings, weekends and holidays.</p>
                                                    </div> 
                                
                                                </div>
                                            </div>
                                            
                                        </div>
                                
                                    </div>     
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
                <div class="col-6 col-sm-6">
                        <div class="card">
                            <h3 class="card-header bg-primary text-white">
                                Facts At A Glance
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-6">Started</dt>
                                    <dd class="col-6">3 Feb. 2013</dd>
        
                                    <dt class="col-6">Major Stake Holder</dt>
                                    <dd class="col-6">HK Fine Foods Inc.</dd>
                                    
                                    <dt class="col-6">Last Year's Turnover</dt>
                                    <dd class="col-6">$1,250,375</dd>
                                    
                                    <dt class="col-6">Employees</dt>
                                    <dd class="col-6">40</dd>
        
                                </dl>
                            </div>
        
                        </div>
                </div>

                <div class="col-6 col-sm-6">
                        <div class="card">
                            <h3 class="card-header bg-primary text-white">
                                Facts At A Glance
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-6">Started</dt>
                                    <dd class="col-6">3 Feb. 2013</dd>
        
                                    <dt class="col-6">Major Stake Holder</dt>
                                    <dd class="col-6">HK Fine Foods Inc.</dd>
                                    
                                    <dt class="col-6">Last Year's Turnover</dt>
                                    <dd class="col-6">$1,250,375</dd>
                                    
                                    <dt class="col-6">Employees</dt>
                                    <dd class="col-6">40</dd>
        
                                </dl>
                            </div>
        
                        </div>
                </div>
        </div>

        <div class="row">
                <div class="col-6 col-sm-6">
                        <div class="card">
                            <h3 class="card-header bg-primary text-white">
                                Facts At A Glance
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-6">Started</dt>
                                    <dd class="col-6">3 Feb. 2013</dd>
        
                                    <dt class="col-6">Major Stake Holder</dt>
                                    <dd class="col-6">HK Fine Foods Inc.</dd>
                                    
                                    <dt class="col-6">Last Year's Turnover</dt>
                                    <dd class="col-6">$1,250,375</dd>
                                    
                                    <dt class="col-6">Employees</dt>
                                    <dd class="col-6">40</dd>
        
                                </dl>
                            </div>
        
                        </div>
                </div>

                <div class="col-6 col-sm-6">
                        <div class="card">
                            <h3 class="card-header bg-primary text-white">
                                Facts At A Glance
                            </h3>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-6">Started</dt>
                                    <dd class="col-6">3 Feb. 2013</dd>
        
                                    <dt class="col-6">Major Stake Holder</dt>
                                    <dd class="col-6">HK Fine Foods Inc.</dd>
                                    
                                    <dt class="col-6">Last Year's Turnover</dt>
                                    <dd class="col-6">$1,250,375</dd>
                                    
                                    <dt class="col-6">Employees</dt>
                                    <dd class="col-6">40</dd>
        
                                </dl>
                            </div>
        
                        </div>
                </div>
        </div>

        
        


    </div>
    
</div>
